.register
  .cont
    margin: 20px auto
    width: 500px
    text-align: center
  .zc
    margin-bottom 28px
.mu-text-field
  display: inline-flex
  justify-content: space-around
  line-height: 48px
.sex-radio
  margin-top: 20px
.reg

.reg_title
  font-size: 20px
