.layout
  margin: 0 auto
  min-width: 1024px
  max-width: 1024px
  .header
    width: 100%
    .logo
      margin-left 18px
      font-size 18px
      color: #fff
    .tabs
      background: #1976d2
  .main
    margin: 18px 0
    padding: 18px
  .mu-list .mu-item-title
    text-align: center
.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0
