*
  margin 0
  padding 0
.layout
  margin: 0 auto
  min-width: 1024px
  max-width: 1024px
  .header
    width: 100%
    .logo
      font-size 18px
    .tabs
      background: #1976d2
  .main
    margin: 18px 0
    padding: 18px
